{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <nav>
                        <div class="nav flex-column" id="nav-tab" role="tablist">
                            <div class="card">
                            <ul class="nav flex-column">
                            {% for tema in temas %}
                                    <li class="nav-item list-group-item">
                                        <a class="nav-link lead" href="">{{ tema.titulo }} <span class="badge badge-pill badge-secondary  float-right">{{ tema.comentarios|length }}</span></a>
                                    </li>
                            {% endfor %}
                            </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-12 col-lg-8">

                </div>
            </div>
    </div>

{% endblock %}
