{% extends 'base.html.twig' %}

{% block body %}
<section class="presentacion">
    <div class="container mt-5">
        {#            <div class="row justify-content-md-center">#}
        <div class="row">
            <div class="col col-lg-8">
                <h2 class="mb-4">Introducción</h2>
                <p class="lead text-justify">
                    Estimados académicos, se les invita a vertir sus comentarios sobre lo que consideren importante para
                    el Plan de Desarrollo del Centro de Ciencias Matemáticas para los próximos cuatro años en los siguientes rubros
                </p>
            </div>
        </div>
    </div>
</section>
<section class="rubros my-5">
    <div class="container">
        <div class="row mt-4">
            {% for tema in temas %}
            {% if loop.index0 is divisibleby(3) %}
        </div>
        <div class="row mt-4">
            {% endif %}
            <div class="col-12 col-lg-4 mb-4">
                <a href="{{ path('tema_show', { 'slug': tema.slug }) }}">
                    <div class="card">
                        <div class="card-body bg-white">
                            <h4><strong>{{ tema.titulo }}</strong></h4>
                            <span class="badge badge-pill badge-consulta  float-right">{{ tema.comentarios|length }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
